
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="zh-CN" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="canonical" href="http://zhanglianxin.github.io/">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700'>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/stylesheet.css" media="screen">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/github-light.css" media="screen">
    <!-- FIXME conflict -->
    <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
  </head>
