<!DOCTYPE html>
<html lang="en-US">
  {% include head.html %}
  <body>
    {% include page-header.html %}
    <section class="main-content">
{{ content }}
{% include page-footer.html %}
    </section>
    <script src="{{ site.baseurl }}/js/ga.js"></script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
    <!-- <script src="//cdn.bootcss.com/jquery/1.12.0/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
    <!-- Disqus -->
    <script id="dsq-count-scr" src="//zhanglianxin.disqus.com/count.js" async></script>
  </body>
</html>
